stages:
  - lint
  - deploy

flake8:
  stage: lint
  image: python:3.8-alpine
  before_script:
    - pip install -q flake8
  script:
    - flake8


deploy-to-aws:
  image: alpine
  stage: deploy
  dependencies:
    - flake8
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - ssh -o StrictHostKeyChecking=no ubuntu@{{ cookiecutter.domain_name }} "cd /home/ubuntu/{{ cookiecutter.project_slug }}/; git pull; docker-compose -f production.yml up --build -d; docker-compose -f production.yml run --rm django python manage.py migrate"
  only:
    - tags
  except:
    - branches

